<div class="main">
  <div class="col-md-9 col-lg-5 mx-auto" *ngIf="!isPassword">
    <p class="text-center mb-5 fw-light fs-5">Forgot Password</p>
    <p class="text-center mb-5 fw-light fs-5">
      Enter Your Email Address
    </p>
    <p class="text-center mb-5 fw-light fs-5" *ngIf="isSubmitted">Check your mail and follow the steps</p>
    <form
      class="form"
      autocomplete="off"
      *ngIf="isValid"
      [formGroup]="forgotPassword"
    >
      <div class="form-floating mb-3">
        <input
          class="form-control"
          placeholder="email"
          id="email"
          formControlName="email"
          name="email"
          type="email"
          required
          [ngClass]="{ 'is-invalid': isSubmitted && f.email.errors }"
        />
        <label for="email">Email</label>
      </div>
      <button
        class="form-button btn-primary" style="align-self: center;"
        (click)="sendOTP()"
      >
        Submit
      </button>
    </form>
    <div  style="width:30%; float: left; margin-top: 1rem">
      <a class="d-block mt-2 small" routerLink="/login"
      >back to login</a>
    </div>
  </div>
  <div class="col-md-9 col-lg-5 mx-auto" *ngIf="isPassword">
    <p class="text-center mb-5 fw-light fs-5">Forgot Password</p>
    <p class="text-center mb-5 fw-light fs-5">
      Enter New Password
    </p>
    <form
      class="form"
      autocomplete="off"
      [formGroup]="password"
    >
      <div class="form-floating mb-3">
        <input
          class="form-control"
          placeholder="password"
          id="password"
          formControlName="password"
          name="password"
          type="password"
          required
          [ngClass]="{ 'is-invalid': isValid && g.password.errors }"
        />
        <label for="email">New Password</label>
      </div>
      <button
        class="form-button btn-primary" style="align-self: center;"
        (click)="submit()"
      >
        Submit
      </button>
    </form>
    <div  style="width:30%; float: left; margin-top: 1rem">
      <a class="d-block mt-2 small" routerLink="/login"
      >back to login</a>
    </div>
  </div>
</div>
