@import '../../sass/form';
@import '../../sass/main';
@import '../../sass/text';
@import '../../sass/vairable';
@import '../../sass/button';

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-button{
  width: 70%;
}

.container {
  height: 33rem;
  width: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include text(1rem, center, 100%);
  &-header{
    text-align: center;
  }
}

