<div class="p-5">
  <p>Details</p>
  <div class="w-50 col mb-3">
    <div class="col d-flex justify-content-between">
      <div>
        <p>{{ user?.name }}</p>
      </div>
      <div>
        <p>{{ user?.email }}</p>
      </div>
      <div>
        <p>{{ user?.phoneNumber }}</p>
      </div>
    </div>
  </div>
  <div class="w-50 col mb-2">
    <p>Weight & Height</p>
    <div class="col d-flex justify-content-between">
      <div>
        <p>Current Weight</p>
        <p>{{ user?.currentWeight }} {{ user?.weightUnit }}</p>
      </div>
      <div>
        <p>Target Weight</p>
        <p>{{ user?.targetWeight }} {{ user?.weightUnit }}</p>
      </div>
      <div>
        <p>Current Height</p>
        <p>{{ user?.currentHeight }} {{ user?.heightUnit }}</p>
      </div>
      <div>
        <p>Target Height</p>
        <p>{{ user?.targetHeight }} {{ user?.heightUnit }}</p>
      </div>
    </div>
  </div>
  <p>BMI</p>
  <div class="w-50 col">
    <div class="col d-flex justify-content-between">
      <div>
        <p>Current BMI</p>
        <p>{{ user?.currentBMI }}</p>
      </div>
      <div>
        <p>Target BMI</p>
        <p>{{ user?.targetBMI }}</p>
      </div>
      <div>
        <p>Current BMI Category</p>
        <p>{{ user?.currentBMICategory }}</p>
      </div>
      <div>
        <p>Target BMI Category</p>
        <p>{{ user?.targetBMICategory }}</p>
      </div>
    </div>
  </div>
</div>
